<div class="left">
    <h3>Comentário</h3>
    <form id="comment_form">
        <textarea class="comment" id="create_comment"></textarea><br>
        <button id="create_button">Cadastrar</button>
    </form>
    <script type="text/javascript">
        $('#comment_form').on('submit', function(event){
            event.preventDefault();
            var comment = $('#create_comment').val();
            if(comment !== null){
                sendComment(comment);
            }else{
                alert('Digite um comentário.');
            }
            event.stopPropagation();
        })
    </script>
</div>
<div class="right">
    <h3>Comentários</h3>
    <table id="tablePhrases">
        {{#each phrases}}
            <tr>
                <th class="phrase"><p>{{phrase}}</p></th>
                <th class="listen" id='{{id}}' onClick="playAudio(this.id)" >
                    <button>Ouvir</button>
                </th>
            </tr>
        {{/each}}
    </table>
</div>